# Database Configuration
MONGO_INITDB_DATABASE=mytype
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# Application User Configuration
MONGO_APP_USER=mytype
MONGO_APP_PASSWORD=mytype

# Network Configuration
DATABASE_PORT=27017

# Security Configuration
MONGO_AUTH_MECHANISM=SCRAM-SHA-1
MONGO_AUTH_SOURCE=admin

# Performance Configuration
MONGO_WIRED_TIGER_CACHE_SIZE_GB=1
MONGO_OPLOG_SIZE_MB=1024 


